
text.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}
  
text.dark-mode {
    background-color: #1a1919;
    color: #999;
}

[data-theme="dark"] .graph {
    background-color: #111 !important;
    color: #eee;
  }