/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

header.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

header.dark-modee {
  background-color: #1a1919;
  color: #999;
}


body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .card {
  background-color: #262626 !important;
  color: #eee;
}

[data-theme="dark"] .navbar-nav {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .text {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .NavLink {
  background-color: #111 !important;
  color: #eee;
}


[data-theme="dark"] .navbar-expand {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .mr-2 {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .badge {
  background-color: brown !important;
  color: #eee;
}
[data-theme="light"] .badge {
  background-color: lightseagreen !important;
  color: #eee;
}

.click:hover{
  background: #686868 !important;
  color: lightblue !important;
}
